In [3]:
# Fusionner des données avec Pandas

#Fusionner des données avecmerge
##merge (La fonction ou méthode prévue par Pandas pour faire une jointure)
##pd.merge(A,B)//A.merge(B)

###pd.merge(A, B, on='id') (lorsque la clé porte le même nom dans chaque data frame)
###C.merge(A, left_on='identifiant', right_on='id')(lorsque la clé n’a pas le même nom)

import pandas as pd

clients = pd.read_csv('./utils/clients.csv')
prets = pd.read_csv('./utils/pret_immobilier.csv')

pd.merge(clients,prets,on='identifiant') #Fusionner les deux dataframes clients et prets dans un seul dataframe data

,identifiant,email,nom,genre,ville,CP,revenu,remboursement,duree,type,taux
0,0,LaurentDagenais@rhyta.com,Laurent Dagenais,M,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,GuyMarois@fleckens.hu,Guy Marois,M,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,GuyMarois@fleckens.hu,Guy Marois,M,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
3,2,BeaufortLesage@einrot.com,Beaufort Lesage,M,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,RussellDurand@armyspy.com,Russell Durand,M,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014
...,...,...,...,...,...,...,...,...,...,...,...
239,224,ApollineMichaud@superrito.com,Apolline Michaud,F,PARIS,75008,5118.0,1248.79,300,immobilier,1.206
240,224,ApollineMichaud@superrito.com,Apolline Michaud,F,PARIS,75008,5118.0,238.20,25,automobile,3.423
241,225,PascalineBeaudry@rhyta.com,Pascaline Beaudry,F,BORDEAUX,33100,2356.0,876.43,180,immobilier,1.172
242,226,FleurCaouette@jourrapide.com,Fleur Caouette,F,PARIS,75002,5098.0,2910.96,240,immobilier,1.140
243,227,FrancisMasse@jourrapide.com,Francis Masse,M,PARIS,75015,2348.0,434.38,300,immobilier,1.157

In [9]:
#Explorez les différents types de jointure
import pandas as pd

taille = pd.read_csv('./utils/taille.csv')
poids = pd.read_csv('./utils/poids.csv')

## La jointure interne (est le type de jointure par défaut)
pd.merge(taille,poids,on='id',how='inner') #chaque clé identifiée à droite ou à gauche, elle vérifie s'il y a une correspondance dans l’autre table.

## La jointure à gauche  (est une jointure qui se concentre sur les identifiants de la table située à gauche )
## C'est-à-dire qu’elle conserve forcément toutes les clés qui se trouvent dans la première table
pd.merge(taille,poids,on='id',how='left')

## La jointure à droite (est une jointure qui se concentre sur les identifiants de la table située à drpote )
## C'est-à-dire qu’elle conserve forcément toutes les clés qui se trouvent dans la deuxieme table
pd.merge(taille,poids,on='id',how='right')

## La jointure externe (est une sorte de conjonction des jointures à gauche et à droite)
## C'est-à-dire qu’on conserve TOUTES les clés trouvées, que ce soit à gauche ou à droite
pd.merge(taille,poids,on='id',how='outer')

   id  taille  poids
0   1    1.80   80.0
1   2    1.70    NaN
2   3    1.75   75.0
3   5     NaN   70.0

In [ ]:
#Concaténez des données avec Pandas

## La concaténation intervient lorsqu’on souhaite assembler plusieurs data frames qui ont la même structure

# liste_concat = [df1, df2]
# pd.concat(liste_concat)